p {
    display: inline-block;
    vertical-align: top; 
}
.logo {
    display: flex;
    justify-content: flex-start;
}

nav {
    width: 73%;
    padding: 1%;
}

.ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    /* height: 600px; */
    /* padding: 25px; */
    /* width: 42px;
    height: 42px; */
    margin-bottom: 50px;
}
.heroImg > div > div > img {
 height: 200px;
 width: 200px;
}

.content {
    /* width: 500px; */
    /* margin: 0 auto;
    width: 42px;
    height: 42px; */
    height: 100%;
    width: 100%;
}

.imagecontainer {
     width: 42px;
    height: 42px;
}


.flex-Container {
display: flex;
}

.flex-Container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    width: 33%;
    flex-direction: column;
}

.myWork {
    grid-area: workGrid;
}

.grid-container {
    display: grid;
    grid-template-areas: 'workGrid workGrid workGrid...';
    grid-template-rows: 33%;
    grid-template-columns: 33%;
}

.workGrid {
    display: grid;
    grid-template-rows: auto;

    padding: 10px;
}


footer {
    background-color: #373738;
    padding: auto;
}

footer > ul > li {
        display: inline-block;
        vertical-align: top;
        padding: auto;
     }

@media only screen and (max-width: 600px) {
    body{ background-color: lightblue;} 
}
  
@media only screen and (max-width: 600px) {
    .flex-Container > div {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        width: 100%;
        flex-direction: row;
    }
}
      
@media only screen and (max-width: 600px) {
      .grid-container {
        display: grid;
     grid-template-rows: 300px ;
     grid-template-columns: 33%;
     
      }
  }
