p {
    display: inline-block;
    vertical-align: top; 
}
.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    width: 73%;
    padding: 1%;
}

.ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}



.flex-Container {
display: flex;
}

.flex-Container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    width: 33%;
    flex-direction: column;
}

.myWork {
    grid-area: workGrid;
}

.grid-container {
    display: grid;
    grid-template-areas: 'workGrid';
    grid-template-rows: 33%;
    grid-template-columns: 33%;
}

.workGrid {
    display: grid;
    grid-template-rows: auto;
    
    padding: 10px;
}


footer {
    background-color: #373738;
    padding: auto;
 ul {
    display: inline-block;
    vertical-align: top;
    padding: auto;
 }
}


@media only screen and (max-width: 600px) {
    body {

      background-color: lightblue;
     
      .flex-Container > div {
        background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        width: 100%
        flex-direction: column;
     }
      .grid-container {
        display: grid;
     grid-template-rows: 300px ;
     grid-template-columns: 33%;
     
      }

    }

  }